{% extends "to_do_list/base.html" %}


{% block 网页名字 %}添加待办事项 {% endblock 网页名字 %}

{% block 自定义css %}
    <link rel="stylesheet" href="/static/to_do_list/edit.css">
{% endblock 自定义css %}



{% block 主体内容 %}
    <form method="POST" action="">
        {% csrf_token %}

        {% if 警告 %}
            <div class="alert alert-warning" role="alert"><strong>请输入添加内容!</strong></div>
        {% endif %}

        <div class="row">
            <div class="form-group  form-group-lg">
                <label class="col-sm-8 control-label" for="exampleTodo">添加事项</label>
                <div class="col-sm-10">
                    <input name="已修改事项" type="text" class="form-control" id="exampleTodo" placeholder="添加待办" value="{{ 待修改事项 }}">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">添加</button>
    </form>
{% endblock 主体内容 %}